/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-family);
  font-variation-settings: 'wght' var(--weight-text);
  background-image: var(--background-gradient);
  background-size: cover;
  background-attachment: fixed;
  padding-inline: clamp(0px, -385.74px + 52.48vw, 370px);
  padding-block: 100px;
}

.section-width {
  inline-size: var(--section-width);
}

.header {
  padding-inline: clamp(16px, -95.03px + 15.11vw, 122.5px);
  padding-block: clamp(122px, 113.66px + 1.13vw, 130px);
  border: var(--outline-border);
  font-family: var(--accent-family);
  display: grid;
  row-gap: 20px;
  place-items: center;
  font-weight: 400;
  background-color: var(--section-bg);
  margin-block-end: 96px;
}

.header__logo {
  font-size: var(--logo-font-size);
  text-transform: uppercase;
}

.header__title {
  font-size: var(--title-font-size);
  font-weight: inherit;
  text-transform: uppercase;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards__list {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  margin-block-end: 50px;
}

.card {
  border: var(--outline-border);
  background-color: var(--section-bg);
  display: flex;
  flex-direction: column;
  font-size: var(--main-font-size);
}

.card__title {
  font-weight: var(--weight-header);
  font-size: inherit;
  padding-inline: 10px;
  padding-block: 4px;
  letter-spacing: 0.35px;
}

.card__image-zone {
  position: relative;
  border-top: var(--outline-border);
  border-bottom: var(--outline-border);
  margin-inline: 0;
  margin-block: 0;
}

.card__image {
  inline-size: clamp(371px, 100%, 696px);
  aspect-ratio: 1 / 1;
}

.brightness {
  filter: brightness(40%);
}

.sepia {
  filter: sepia(1);
}

.greyscale {
  filter: grayscale(90%);
}

.saturate {
  filter: saturate(200%);
}

.contrast {
  filter: contrast(200%);
}

.hue-rotate {
  filter: hue-rotate(90deg);
}

.img-opacity {
  filter: opacity(0.7);
}

.blur-contrast {
  filter: blur(2px) contrast(150%);
}

.card__image-label {
  position: absolute;
  font-family: var(--accent-family);
  font-size: 14px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 400;
  top: 25px;
  right: 25px;
  mix-blend-mode: hard-light;
  text-shadow: var(--label-shadow);
}

@supports (text-stroke: var(--label-stroke)) or (-webkit-text-stroke: var(--label-stroke)) {
  .card__image-label {
    -webkit-text-stroke: var(--label-stroke);
    text-stroke: var(--label-stroke);
    text-shadow: none;
  }
}

.card__text-zone {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-block: 27px 25px;
  padding-inline: 25px;
}

.card__text {
  line-height: 1.17;
}

.card__buttons {
  display: flex;
  justify-content: end;
  margin-inline-end: 25px;
  margin-block-end: 25px;
}

.card__icon-button {
  background-color: transparent;
  border: 2px solid rgba(0, 0, 0, 0);
  block-size: 34px;
  display: grid;
  align-content: center;
  transition: border 0.3s ease;
}

.card__icon-button:hover {
  cursor: pointer;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid rgba(0, 0, 0, 1);
}

.core {
  fill: transparent;
  transition: fill 0.3s linear 0.03s;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.contour {
  fill: var(--dark-color);
  transition: fill 0.1s linear;
}

.sparks {
  fill: var(--heart-accent-color);
  opacity: 0;
}

.like-icon:hover .core {
  fill: var(--dark-color);
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--dark-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon:active .core {
  fill: var(--heart-accent-color);
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  fill: var(--heart-accent-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--heart-accent-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--heart-accent-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--heart-accent-color);
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .sparks {
  animation: sparking 0.3s ease-in 0.3s;
}

.like-icon.is-liked .heart {
  animation: scaling 0.3s ease-in 0.1s;
  transform-origin: center;
}

.button {
  border: var(--outline-border);
  transition: box-shadow 0.3s ease;
  position: relative;
  background-color: var(--section-bg);
  z-index: 0;
  color: var(--section-bg);
}

.button::before {
  content: '';
  position: absolute;
  inset: 0;
  transform: scaleX(0);
  background-color: var(--dark-color);
  z-index: -1;
  transition: transform 0.5s ease-in-out;
  transform-origin: left;

}

.button:hover {
  cursor: pointer;
}

.button:hover::before {
  transform: scaleX(1);
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 #000;
}

.card__like-button {
  min-inline-size: 130px;
  max-block-size: 38px;
}

.button__text {
  font-family: var(--accent-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 0.9;
  text-transform: capitalize;
  mix-blend-mode: difference;
}

.button__save {
  padding-inline: 18px;
  padding-block: 18.5px;
}

@media (width <= 375px) {
  .button__save {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    align-items: center;
    padding-block: 15px;
    transition: box-shadow 0.3s ease;
    transition: scale 0.5s ease-in-out;
  }
}

.button__save .button__text {
  text-transform: initial;
}

.button__save-icon {
  inline-size: 21px;
  aspect-ratio: 1 / 1;
  margin-inline-end: 8px;
  mix-blend-mode: difference;
  stroke: var(--section-bg);
}

.dialog {
  padding-block: 28px;
  padding-inline: 28px;
  border: var(--outline-border);
}

@media (width <= 375px) {
  padding-inline: 38px;
}

.dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.dialog[open] .dialog__content {
  display: flex;
  gap: 20px;
  margin-block-end: 30px;
}

.dialog__icon {
  inline-size: 39px;
  aspect-ratio: 1 / 1;
}

.dialog__text {
  font-family: var(--accent-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
}

.dialog__button {
  inline-size: 100%;
  padding-inline: 19px;
  padding-block: 7px;
}

.dialog__button-text {
  text-transform: uppercase;
}