/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-family);
  font-variation-settings: 'wght' var(--weight-text);
  background-image: var(--background-gradient);
  background-size: cover;
  background-attachment: fixed;
  padding-inline: clamp(0px, -385.74px + 52.48vw, 370px);
  padding-block: 100px;
}

.section-width {
  inline-size: var(--section-width);
}

.header {
  padding-inline: clamp(16px, -95.03px + 15.11vw, 122.5px);
  padding-block: clamp(122px, 113.66px + 1.13vw, 130px);
  border: var(--outline-border);
  font-family: var(--accent-family);
  display: grid;
  row-gap: 20px;
  place-items: center;
  font-weight: 400;
  background-color: var(--section-bg);
  margin-block-end: 96px;
}

.header__logo {
  font-size: var(--logo-font-size);
  text-transform: uppercase;
}

.header__title {
  font-size: var(--title-font-size);
  font-weight: inherit;
  text-transform: uppercase;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards__list {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  margin-block-end: 50px;
}

.card {
  border: var(--outline-border);
  background-color: var(--section-bg);
  display: flex;
  flex-direction: column;
  font-size: var(--main-font-size);
}

.card__title {
  font-weight: var(--weight-header);
  font-size: inherit;
  padding-inline: 10px;
  padding-block: 4px;
  letter-spacing: 0.35px;
}

.card__image-zone {
  position: relative;
  border-top: var(--outline-border);
  border-bottom: var(--outline-border);
  margin-inline: 0;
  margin-block: 0;
}

.card__image {
  max-inline-size: 696px;
  aspect-ratio: 1 / 1;
}

.card__image-label {
  position: absolute;
  font-family: var(--accent-family);
  font-size: 14px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 400;
  top: 25px;
  right: 25px;
  mix-blend-mode: hard-light;
  text-shadow: var(--label-shadow);
}

@supports (text-stroke: var(--label-stroke)) or (-webkit-text-stroke: var(--label-stroke)) {
  .card__image-label {
    -webkit-text-stroke: var(--label-stroke);
    text-stroke: var(--label-stroke);
    text-shadow: none;
  }
}

.card__text-zone {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-block: 27px 25px;
  padding-inline: 25px;
}

.card__text {
  line-height: 1.17;
}

.card__buttons {
  display: flex;
  justify-content: end;
  margin-inline-end: 25px;
  margin-block-end: 25px;
}

.card__icon-button {
  background-color: transparent;
  border: none;
}

.card__like-button {
  padding-inline: 35px;
  border: var(--outline-border);
  background-color: transparent;
  padding-block: 0;
  max-block-size: 38px;
}

.button__text {
  font-family: var(--accent-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 0.9;
}

.button__save {
  padding-inline: 20px;
  padding-block: 20.5px;
  border: var(--outline-border);
}

.button__save-icon {
  inline-size: 21px;
  aspect-ratio: 1 / 1;
  margin-inline-end: 8px;
}